<nav class="sidebar" role="navigation">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a class="letter-spacing uppercase red bold" href="#">UMD Style Guide</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Content <span class="caret right"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ site.baseurl }}/typography/">Typography</a></li>
                <li><a href="{{ site.baseurl }}/tables/">Tables</a></li>
<!--                 <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle submenu" data-toggle="dropdown-nested">Dropdown <span class="caret right"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </li> -->
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Components <span class="caret right"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ site.baseurl }}/alerts-labels/">Alerts &amp; Labels</a></li>
                <li><a href="{{ site.baseurl }}/tables/">Tables</a></li>
            </ul>
        </li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        
        
    </ul>
</nav>