<!DOCTYPE html>
<html lang="en" class="no-js">

    {% include head.html %}

<body>
    {% include header.html %}


    <main role="main">
        <section class="hero-wrapper clearfix small" role="banner">
            <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}/img/bg/turner.png');" role="img" aria-label="site hero banner"></div>
        </section>

        <section class="white-bg">
            <div class="container spaces no-pad-top">
                <div class="row">
                    
                    <div class="col-md-9 spaces right">
                        <div class="subpage">
                            <ol class="breadcrumb ">
                                <li><a href="{{ site.baseurl }}/">Home</a></li>
                                <li class="active">Breadcrumbs</li>
                            </ol>

                            <h1 class="crimson red">Basic Page</h1>
                            <p class="uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        
                        <hr class="hr-lrg"><br>

                        <p>Bacon ipsum dolor amet flank burgdoggen prosciutto meatball, picanha rump tri-tip doner ham hock kielbasa turkey spare ribs pork chop drumstick turducken. Meatball alcatra leberkas chuck. Drumstick tri-tip swine, cupim corned beef porchetta chuck. Filet mignon capicola sirloin tri-tip corned beef. Meatloaf hamburger shoulder pork chop meatball.</p>
                        <p>Kevin hamburger sausage, ball tip cupim t-bone kielbasa. Bresaola pancetta filet mignon salami. Beef ribs burgdoggen drumstick, chuck leberkas sausage short ribs. Brisket ground round chuck, filet mignon pork ham cupim flank. Venison kielbasa brisket cow strip steak pork loin turducken pork chop buffalo turkey frankfurter fatback chicken alcatra ball tip.</p>
                        <p>Shoulder tail spare ribs chuck, rump bresaola landjaeger short loin chicken kielbasa leberkas pork chop pork. Swine fatback brisket, leberkas pork loin meatloaf kielbasa tri-tip spare ribs cupim t-bone chicken. Short ribs hamburger brisket cupim capicola pig boudin. Tongue hamburger alcatra tenderloin sirloin drumstick. Sirloin short ribs flank turkey beef ribs picanha strip steak. Ground round kielbasa boudin ribeye flank rump tenderloin fatback pork belly tail, ham hock filet mignon.</p>
                        <p>Swine shank cupim ball tip, picanha leberkas jowl. Jowl filet mignon picanha salami, sirloin biltong ribeye tongue. Prosciutto pork short ribs landjaeger turkey.</p>
                    </div>
                    <div class="col-md-3 subpage spaces left">
                        <p>Content</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include footer.html %}

</body>
</html>
