<!DOCTYPE html>
<html lang="en" class="no-js">

    {% include head.html %}

<body>
    {% include header.html %}


    <main role="main">
        <section class="hero-wrapper clearfix small" role="banner">
            <div id="hero" class="header-banner" style="background-image:url('{{ site.baseurl }}{{ page.banner }}');" role="img" aria-label="site hero banner"></div>
        </section>

        <section class="white-bg">
            <div class="container">
                <div class="row med-spaces no-pad-b">
                    <div class="col-md-3">
                        {% include sidenav.html %}
                        
                    </div>
                    
                    <div class="col-md-9">
                        <div class="subpage">
                            <h1 class="crimson red">{{ page.header }}</h1>
                            <p class="uppercase">{{ page.subheader }}</p>
                            <hr class="hr-lrg">
                        </div>
                        <div class="spaces no-pad-top">
                        	{{ content }}
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include footer.html %}

</body>
</html>
