---
layout: sub-page
title: 'Alerts &amp; Labels'
header: Alerts &amp; Labels
subheader: 'Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages. Also, documentation and examples for badges, our small count and labeling component.'
banner: '/img/bg/turner.png'
permalink: '/alerts-labels/'
---
	<div class="med-spaces">
		<h2>Basic Alert Examples</h2>
		<p>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g., <code>.alert-success</code>) for basic alert messages.</p>
		<hr>

		<div class="alert alert-warning" role="alert"><code>.alert-warning</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
		<div class="alert alert-info" role="alert"><code>.alert-info</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
		<div class="alert alert-success" role="alert"><code>.alert-success</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
		<div class="alert alert-danger" role="alert"><code>.alert-danger</code> - Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
	</div>

	<div class="med-spaces">
		<h2>Dismissible Alerts</h2>
		<p>Build on any alert by adding an optional <code>.alert-dismissible</code> and close button.</p>
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="no-marg-b"><b>Requires JavaScript alert plugin:</b> For fully functioning, dismissible alerts, you must use the <a href="https://getbootstrap.com/docs/3.3/javascript/#alerts">alerts JavaScript plugin</a>.</p>
			</div>
		</div>
		<hr>

		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Warning!</strong> Better check yourself, you're not looking too good.
		</div>
	</div>

	<div class="med-spaces">
		<h2>Label Examples</h2>
		<p>Add <code>.label-default</code> or <code>.label-primary</code> modifier classes to change the appearance of a label.</p>
		
		<span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
	</div>


